header{
  position: fixed;
  position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    background: gray;
    top: 0;
    left: 0;
}
h2{
  text-align: center;
  color:#333;
  font-size: 20px;
}

h3{
  margin-top: 100px;
}

.container{
  margin-top: 60px;
}

.book{
  margin: 20px 10px;
  float: left;
  width: 260px;
  position: relative;
  text-align: center;
}

.buttons{
  display: inline-block;
}

button{
  cursor: pointer;
}

.price{
  position: absolute;
  right: 30px;
  font-weight: bold;
  bottom: -15px;
}

.basket{
  color:#333;
  right: 30px;
  top:30px;
  font-size: 20px;
  position: absolute;
}

.basket-cell{
  text-align: center;
  vertical-align: top;
  padding: 0 15px;
}

.selected{
  border:green 3px solid;
}

.dispt{
  display: table;
}

.disptc{
  display: table-cell;
}

.disptr{
  display: table-row;
}

.tac{
  text-align: center;
}
