@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body{
  background-color: #7b8485;
}
#hp-app{
  font-family: 'Amatic SC', cursive;
  background-color: #7b8485;
}
header{
  position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    background: #848484; /* Old browsers */
    background: -moz-linear-gradient(top,  #848484 1%, #8190e6 49%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#848484), color-stop(49%,#8190e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #848484 1%,#8190e6 49%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #848484 1%,#8190e6 49%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #848484 1%,#8190e6 49%); /* IE10+ */
    background: linear-gradient(to bottom,  #848484 1%,#8190e6 49%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#8190e6',GradientType=0 ); /* IE6-9 */
    top: 0;
    left: 0;
}

h1{
  margin-left: 50px;
}
h2{
  text-align: center;
  color:black;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}

h3{
  margin-top: 100px;
}

#title{
  cursor: pointer;
  color: #333;
}
.container{
  margin-top: 60px;
}

.book{
  margin: 20px 10px;
  float: left;
  width: 260px;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}

.buttons{
  display: inline-block;
  margin-top: 10px;
}

button{
  cursor: pointer;
  background: none;
  border: none;
}

.price{
  position: absolute;
  right: 30px;
  font-weight: bold;
  bottom: -10px;
}

.basket{
  color: #333;
  right: 30px;
  top: 18px;
  font-size: 30px;
  position: absolute;
}

.basket-offer{
  font-family: sans-serif;
  padding: 20px;
}

.basket-cell{
  text-align: center;
  vertical-align: top;
  padding: 0 15px;
}

.selected{
  border:green 3px solid;
}

.dispt{
  display: table;
}

.disptc{
  display: table-cell;
}

.disptr{
  display: table-row;
}

.tac{
  text-align: center;
}
