<header>
  {{#link-to 'books'}}<h1 id="title">La bibliothèque d’Henri Potier</h1>{{/link-to}}
  {{#link-to 'basket' class="basket"}}
    <strong>
    Panier: {{count}}
    {{#if plural}}
    articles
    {{^}}
    article
    {{/if}}
    </strong>
  {{/link-to}}
</header>
{{outlet}}
